<div class="section">
  <section>
    <div class="row row--reducedWidth">
      <div class="col col--medium-8">
        <h2>Counter Example</h2>
        <counter-wrapper data-resources="[{paths : ['components/counter/wrapper.js']}]" style="margin-top: 20px"></counter-wrapper>
      </div>
    </div>
  </section>
</div>