<div class="section">
  <section>
    <div class="row row--reducedWidth">
      <div class="col col--medium-8">
        <h2>Counter Example</h2>
        <counter-button data-resources="[{paths : ['components/counter/index.js']}]" style="margin-top: 20px" example="true"></counter-button>
      </div>
    </div>
  </section>
</div>